.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position: fixed;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: 'rgba(0,0,0,0.7)';
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
}
.container > div {
  overflow: auto;
  margin: 10px;
}
.arrow-container {
  align-self: center;
  text-align: center;
}
.arrow-btn {
  background-color: #b19cd9;
  border-style: none;
  height: 30px;
  border-radius: 20%;
}
.active-tile {
  width: 25%;
  background: #ffffff;
}
.side-tile {
  align-self: center;
  width: 20%;
  background: #ffffff;
}
.overlay {
  opacity: 0.5;
  background-color: #ffffff;
  width: 100%;
}
.side-tile-image {
  object-fit: cover;
  width: 100%;
  min-height: 320px;
}
.active-tile-image {
  object-fit: cover;
  width: 100%;
  min-height: 380px;
}
.content {
  margin: 9px;
  background-color: white;
  .protein.treatment,
  .deep.conditioning {
    background: #add8e6;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
    width: 32px;
    text-align: center;
    margin-right: 3%;
  }
  .hair.color,
  .hair.cut,
  .clarifying {
    background: #ffb6c1;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
    width: 32px;
    text-align: center;
    margin-right: 3%;
  }
}
.side-content {
  margin: 4px;
  .protein.treatment,
  .deep.conditioning {
    background: #add8e6;
    font-size: 10px;
    border-radius: 50%;
    padding: 6px;
    width: 26px;
    text-align: center;
    margin-right: 3%;
  }
  .hair.color,
  .hair.cut,
  .clarifying {
    background: #ffb6c1;
    font-size: 10px;
    border-radius: 50%;
    padding: 6px;
    width: 26px;
    text-align: center;
    margin-right: 3%;
  }
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  .close-btn {
    color: #ff0000;
    padding: 8px;
    border-radius: 4px;
    border-style: none;
  }
}
.side-dateTime {
  font-size: 12px;
  font-weight: 900;
  padding: 15px 0 3px 0;
}
.dateTime {
  font-size: 13px;
  font-weight: 900;
  padding: 20px 0 5px 0;
}
.side-description {
  font-size: 11px;
  .more {
    font-size: 11px;
    font-weight: bold;
  }
}
.description {
  font-size: 13px;
  .more {
    font-size: 13px;
    font-weight: bold;
  }
}
.row:after {
  content: '';
  display: flex;
  clear: both;
}
.col1 {
  float: left;
  width: 50%;
  display: flex;
}
.col2 {
  float: left;
  width: 50%;
  text-align: right;
}
